body {
    height: 100vh;
    background-color: #ffffff;
  }
  
  form {
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white; 
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    color: #1b1b4c; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
