/* ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #282727;
  border-radius: 4px;
}

button {
  padding: 5px 10px;
  color: rgb(255, 255, 255);
  border:rgb(63, 6, 6);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}
 */
