#root {
  max-width: 980px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.read-the-docs {
  color: #888;
}


.car-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 980px;
}

.car-form-add {
  flex: 1;
}

.divider {
  margin: 0 20px;
  width: 1px;
  height: 1000px;
  background-color: black;
}


.car-form-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 21px;
  max-height:90vh ; 
  overflow-y: auto; 
  border: 2px solid black; 
  padding: 10px; 
  background-color: rgba(234, 234, 239, 0.205);
  border-radius: 10px; 

}

.car-form-add {
  background-color: rgba(234, 234, 239, 0.205);
  border-radius: 10px; 
  border: 2px solid black; 
  padding: 10px; 
}
